---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my full publication list on <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
Conference Papers
------
\begin{itemize}
\item \textbf{Chai, Junyi}, Taeuk Jang, Jing Gao, and Xiaoqian Wang. ``On the Alignment between Fairness and Accuracy: from the Perspective of Adversarial Robustness." International Conference on Machine Learning (ICML), 2025, \textit{acceptance rate: 26.9\% (3,260/12,107)}.
    \item \textbf{Chai, Junyi}, Shenyu Lu, and Xiaoqian Wang. ``Identifying and Mitigating Spurious Correlation in Multi-Task Learning." IEEE / CVF Computer Vision and Pattern Recognition Conference (CVPR), 2025, \textit{acceptance rate: 22.1\% (2878/13,008)}.
    \item Lu, Shenyu, \textbf{Junyi Chai}, and Xiaoqian Wang. ``Mitigating Spurious Correlations in Zero-Shot Multimodal Models.'' International Conference on Learning Representations (ICLR), 2025, \textit{acceptance rate: 31.2\% (3646/11,672)}. 
    \item Jung, Hoin, \textbf{Junyi Chai}, and Xiaoqian Wang. ``Adversarial Latent Feature Augmentation for Fairness.'' International Conference on Learning Representations (ICLR), 2025, \textit{acceptance rate: 31.2\% (3646/11,672)}. 
    \item Lu, Shenyu, \textbf{Junyi Chai}, and Xiaoqian Wang. "Neural Collapse Inspired Debiased Representation Learning for Min-max Fairness." ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), 2024, \textit{acceptance rate: 20.1\% (411/2046)}.
    \item \textbf{Chai, Junyi}, and Xiaoqian Wang. ``Fairness with adaptive weights." International Conference on Machine Learning (ICML), 2022, \textit{acceptance rate: 21.9\% (1235/5630)}.
    \item \textbf{Chai, Junyi}, and Xiaoqian Wang. ``Self-supervised fair representation learning without demographics." Advances in Neural Information Processing Systems (NeurIPS), 2022, \textit{acceptance rate: 25.7\% (2672/10411)}.
    \item \textbf{Chai, Junyi}, Taeuk Jang, and Xiaoqian Wang. ``Fairness without demographics through knowledge distillation." Advances in Neural Information Processing Systems (NeurIPS), 2022, \textit{acceptance rate: 25.7\% (2672/10411)}.
\end{itemize}

Journal Papers
------
[Jun 2025] I will be joining Sony AI as a research intern on AI Ethics this summer!

[May 2025] One paper was accepted to ICML 2025! 

[Apr 2025] I passed my Ph.D. preliminary exam! Special thanks to my advisor, my committee members, and my labmates!

[Feb 2025] One paper was accepted to CVPR 2025!

[Jan 2025] Two papers were accepted to ICLR 2025!



